.pserv{
 background-color: var(--primary);
 padding: 0px 5.2708vw 0px 5.2708vw;
 margin-top: 16px;
}
.serv{
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.serv img{
    width: 60px;
}
.card-serv{
  max-width: 400px;
  height: 300px;
  padding: 24px;
   border: 2px solid  var( --title); 
  border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
margin-top: 24px;
}
.card-serv-dark{
    max-width: 400px;
    height: 300px;
    padding: 24px;
     border: 2px solid  var(--titledark); 
    border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;

}



.card-serv p,.card-serv-dark p{
     letter-spacing: 1px;
    max-width: 300px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
    padding: 16px;
}