.About {
  padding: 0px 5.2708vw 0px 5.2708vw;
  margin-top: 16px;
 
}
.titlelight {
  padding: 120px 0 100px 0px;
  text-align: center;
  color: var(--title);
  font-size: 2.5rem;
}
.titledark {
  padding: 120px 0 100px 0px;
  text-align: center;
  color: var(--titledark);
  font-size: 2.5rem;
}
.img-text-About {
  display: flex;
  justify-content: space-between;
  align-items: center;


 
}
.About p{
  line-height: 36px;
}

.img-about {
  max-width:500px;
}
.img-about img {
  width: 100%;
}
.icon-about {
  display: flex;

  align-items: center;
  gap: 24px;
 
}
.icon-about img{
  width: 32px;
}
.icon-about img:hover {
  transform: scale(1.2);
  transition: transform 1s;
}
.text-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin-top: 14px;
 gap: 24px;
 width: 50%;

}
.text-icon h3,.text-icon h4{
  background: linear-gradient(90deg,  var(--title),var(--titledark)); 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  font-size: 1.75rem;

 
}
.text-icon h4{
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  .About p {
    margin-top: 24px;
  }
  .icon-about img {
    width: 80%;
  }

  .titlelight,
  .titledark {
    padding: 48px 0 24px 0px;
  }
  .img-text-About{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .text-icon{
    width: 90%;
  }
  
}
