.projects {
  padding: 0px 5.2708vw 0px 5.2708vw;
  background-color: var(--primary);
  margin-top: 16px;
}
.card-pro {
  display: grid;
  grid-template-columns: 46% 46%;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  position: relative;
}
.card-pro-child {
  position: relative;
}
.card-pro-child img {
  width: 100%;
  border-radius: 30px;
  box-shadow: 2px 2px 10px rgba(165, 163, 163, 0.5);
}

.button-card {
  border-radius: 25px;
  background-color: rgba(138, 135, 135, 0.397);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.button-card button {
  padding: 20px;
  border: 1px solid var(--title);
  background-color: var(--title);
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 29%;
  transform: translate(-24%, -50%);
}
#btn-card {
  transform: translate(56%, -50%);
}
.card-pro-child:hover div {
  display: block;
}
@media screen and (max-width: 992px) {
  .card-pro {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
